.container {
  display: flex;
  text-align: center;
  border: 1px solid black;
  border-radius: 18px;
  max-width: 550px;
  margin: 0 auto;
}

.img {
  max-width: 50%;
  margin: 10px auto;
  border-radius: 50%;
  background-color: rgb(82, 82, 82);
}

.name {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.tag {
  font-size: 36px;
  color: rgb(182, 183, 183);
  margin-bottom: 10px;
}

.location {
  font-size: 36px;
  color: rgb(182, 183, 183);
  margin-bottom: 10px;
}

.statusList {
  display: flex;
  justify-content: space-between;
  background: #c8c4c4;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-top: 16px;
}

.statusList .li:not(:last-child) {
  border-right: 2px solid dimgray;
}

.li {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-top: 2px solid dimgray;
  width: 100%;
  padding: 20px;
  font-size: 24px;
}

.span {
  font-weight: 700;
  margin-top: 5px;
}
