.container {
  display: flex;
  gap: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  max-width: 100%;
  border: 1px solid transparent;
  background-color: rgb(183, 250, 250);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgb(97, 254, 231);
}
.button:active {
  background-color: blueviolet;
}
