.friendList {
  display: flex;
  justify-content: space-around;
  gap: 4px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 4px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.name {
  font-weight: 700;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
