/* .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
}

.table th {
  background: #323232;
  color: white;
}

.table tr:nth-child(even) {
  background: #ddd;
}

/* .td {
  display: flex;
  justify-content: center;
} */
